<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-700"
>
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold">
          Overview
        </h6>
        <h2 class="text-white text-xl font-semibold">Sales value</h2>
      </div>
    </div>
  </div>
  <div class="p-4 flex-auto">
    <!-- Chart -->
    <div class="relative" style="height: 350px">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
      <table>
        <tr>
          <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
        </tr>
        <tr
          *ngFor="let d of lineChartData.datasets; let i = index"
          [class]="'line-' + i"
        >
          <td *ngFor="let label of lineChartData.labels; let j = index">
            {{ d && d.data[j] }}
          </td>
        </tr>
      </table>
      <div class="button-row">
        <button (click)="randomize()">
          Randomize
        </button>
        <button (click)="pushOne()">
          Push
        </button>
        <button (click)="changeColor()">
          Recolor
        </button>
        <button (click)="hideOne()">
          Toggle Series B
        </button>
        <button (click)="changeLabel()">
          Change Label
        </button>
      </div>
    </div>
  </div>
</div>
