<div>
  <app-auth-navbar></app-auth-navbar>
  <main>
    <section class="relative w-full h-full py-40 min-h-screen">
      <div
        class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
        style="background-image: url('assets/img/register_bg_2.png')"
      >
      </div>
      <div class="absolute flex flex-col w-full justify-center items-center">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </section>
  </main>
  <ul>
    <li *ngFor="let comment of comments.comments">
      {{comment.comment}}
      {{comment.id}}
      {{comment.author}}
      {{comment.comment_time}}
      <button
        style="border: 1px solid black; background-color: red"
        type="submit"
        (click)="onCommentDeleteClick(comment.id)"
      >
        delete Coment
      </button>
    </li>
  </ul>
  <form [formGroup]="commentForm" (ngSubmit)="onCommentAddSubmit()">
    <input
      type="text"
      placeholder="Comment"
      formControlName="comment"/>

    <div class="">
      <button
        style="border: 1px solid black; background-color: green"
        type="submit"
      >
        Add Coment
      </button>
    </div>
  </form>
</div>
