<div class="bg-lightBlue-900 text-blueGray-700 absolute h-full w-full">
  <div class="absolute top-210-px left-195-px">
    <span class="flex flex-row" style="-webkit-transform: scale(5); position: absolute;">🥵🥵🥵</span>
  </div>
  <div class="absolute top-95-px left-260-px">
    <h2 class="flex flex-col font-semibold text-4xl text-blueGray-600">
      {{notFoundMessage}}
    </h2>
    <h2 class="flex flex-col font-semibold text-4xl text-blueGray-600">
      {{notFoundMessage}}
    </h2>
    <h2 class="flex flex-col font-semibold text-4xl text-blueGray-600">
      {{notFoundMessage}}
    </h2>
  </div>
</div>

