<div class="container flex items-center flex-col">
  <div class="flex flex-col min-w-0 break-words bg-white w-5/6 mb-6 shadow rounded p-4">
    <div class="px-6">
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
          <div class="">
            <img alt="..." src="{{hotel.hotel.image}}"
                 class="shadow rounded-full h-auto align-middle border-none max-w-150-px">
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
          <div class="py-6 px-3 mt-32 sm:mt-0">
            <button
              (click)="onBookClick()"
              type="button"
              class="bg-red-600 active:bg-red-700 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150">

            </button>
          </div>
        </div>
      </div>
      <div class="text-center mt-12">
        <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
          {{hotel.hotel.name}}
        </h3>
        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"><i
          class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i> {{hotel.hotel.city}}
        </div>
        <!--        <div class="mb-2 text-blueGray-600 mt-10"><i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>-->
        <!--          Solution Manager - Creative Tim Officer-->
        <!--        </div>-->
        <!--        <div class="mb-2 text-blueGray-600"><i class="fas fa-university mr-2 text-lg text-blueGray-400"></i> University-->
        <!--          of Computer Science-->
        <!--        </div>-->
      </div>
      <!--      <div class="container mx-auto px-4">-->
      <!--        <section class="py-8 px-4">-->
      <!--          <div class="flex flex-row flex-wrap">-->
      <!--            <div *ngFor="let i of [].constructor(10)" class="w-1/4 px-4 mb-8">-->
      <!--              <img class="max-h-100px max-h-100px rounded shadow-md" src="{{hotel.hotel.image}}" alt="">-->
      <!--            </div>-->

      <!--          </div>-->
      <!--        </section>-->
      <!--      </div>-->
      <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
        <div class="flex flex-wrap justify-center">
          <div class="w-full lg:w-9/12 px-4">
            <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
              {{hotel.hotel.desc}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-create></app-create>
    <app-single></app-single>
  </div>
</div>
