<div class="relative md:ml-64 ">
  <nav class="navbar navbar-light bg-danger p-3">
    <h1 class="text-white title-heading">EMPLOYEE <button><i class="fa-solid fa-circle-plus"></i></button></h1>
  </nav>
  <div class="container">
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Điện thoại</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Nguyễn Văn A</td>
          <td>nguyenvana@gmail.com</td>
          <td>0987654321</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Trần Thị B</td>
          <td>tranthib@gmail.com</td>
          <td>0123456789</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Lê Văn C</td>
          <td>levanc@gmail.com</td>
          <td>0912345678</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Phạm Thị D</td>
          <td>phamthid@gmail.com</td>
          <td>0987654321</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Hoàng Văn E</td>
          <td>hoangvane@gmail.com</td>
          <td>0123456789</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Nguyễn Thị F</td>
          <td>nguyenthif@gmail.com</td>
          <td>0912345678</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Trần Văn G</td>
          <td>tranvang@gmail.com</td>
          <td>0987654321</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Lê Thị H</td>
          <td>lethih@gmail.com</td>
          <td>0123456789</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Phạm Văn I</td>
          <td>phamvani@gmail.com</td>
          <td>0912345678</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Hoàng Thị J</td>
          <td>hoangthij@gmail.com</td>
          <td>0987654321</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Trịnh Văn K</td>
          <td>trinhvank@gmail.com</td>
          <td>0912345678</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Đỗ Thị L</td>
          <td>dothil@gmail.com</td>
          <td>0987654321</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

